<!DOCTYPE html>
<html lang="en">
<head>
	<title>Session Alive Installed</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../assets/icon/icon.png">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    <style type="text/css">
		body {
			color:#333;
			font-family:Source Sans Pro,Helvetica Neue,Arial,sans-serif;
			font-size:15px;
		}
		a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
  	    }
	</style>
</head>
<body>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3" style="position: fixed;">
			<h1 align="center"><img id="icon" src="../assets/icon/icon.svg" width="32px" height="32px"> <small>Session Alive</small></h1>
			<br>
			<ul class="list-group">
                <li class="list-group-item list-group-item-action"><a href="#section1">Quick Start</a></li>
                <li class="list-group-item list-group-item-action"><a href="#section2">How to use</a></li>
			</ul>
		</div>
		<div class="col-sm-3" style="pointer-events: none;"></div>

		<div class="col-sm-9">
			<h1>Session Alive Installed</h1>
			<hr>

			<h3 id="section1">Quick Start</h3>
			<ol>
				<li>Sign-in to your website to navigate to the logged in page</li>
				<li>Click the Session Alive extension icon <img id="icon" src="../assets/icon/icon.svg" width="16px" height="16px"> in browser toolbar or extension menu or overflow menu.</li>
				<li style="line-height: 2rem">Click the <button class="btn btn-primary btn-sm m-1" data-translate="addRuleCurrentPageHeading">+ Add a Rule for this page</button> button.</li>
				<li>Page is reloaded and Your session is now alive!</li>
            </ol>
			<hr>

            <h3 id="section2">How to use</h3>
			<ol>
				<li>Sign-in to your website and Copy the URL</li>
				<li style="line-height: 2rem">You can click the <button class="btn btn-primary btn-sm m-1" data-translate="addRuleCurrentPageHeading">+ Add a Rule for this page</button> button to quickly create a rule.</li>
				<li style="line-height: 2rem">Click the <button class="btn btn-primary btn-sm" data-translate="settingsHeading">Settings</button> to manage the rules.</li>
				<li style="line-height: 2rem">Click the <button class="btn btn-outline-primary btn-sm">Add New Rule</button> button to add a New Rule and paste the copied URL to <span style="cursor: help; border-bottom: 1px dotted #000;" title="The Background Request Rule is used to keep the session alive by requesting a page in the background.">Background Request Options</span> &rarr; <span style="cursor: help; border-bottom: 1px dotted #000;" title="Navigating to this URL will start the background request loop.">Trigger URL</span></li>
				<li style="line-height: 2rem">Set the Request Interval as per your needs and click the <button class="btn btn-primary btn-sm" type="submit">Save Rule</button> button to save.</li>
				<li style="line-height: 3rem">Click the <span style="cursor: help; border-bottom: 1px dotted #000;" title="Navigating to this URL will start the background request loop.">Trigger URL</span> link in the Save Success message. <span class="alert alert-success">Navigate to <a id="trigger_uri_link" href="#" class="alert-link" target="_blank">Trigger URL <img src="../assets/settings/Open.svg" width="14px" height="14px"></a> to start the Rule.</span></li>
				<li>You can also Refresh the Dashboard/Welcome URL or Sign-in again</li>
				<li>Your session is now alive!</li>
			</ol>
			<hr>
		</div>
	</div>
</div>

<footer class="container-fluid">
	<br>
	<p>
	Session Alive does not collect any user information or data.
	</p>
	<p>If you want to contribute to this project or report an issue, please visit the <a href="https://github.com/wupy36/session-alive" target="_blank" class="text-info">GitHub</a> page.</a>
	</p>
</footer>

<script src="/translate.js"></script>
</body>
</html>
